/*BODY*/
body {
    padding: 0;
}

/*HEADER*/
    /*Général*/
    header {
        flex-direction: column;
        align-items: center;
    }

    /*Logo*/
    .header__logo {
        margin: 25px 0 0 0;
    }

    /*Nav*/
        /*Général*/
        .header__nav {
            width: 100%;
        }

        .header__nav ul {
            width: 100%;
            justify-content: space-evenly;
            text-align: -webkit-center;
        }

        .nav__top {
            width: 50%;
        }

        .header__lien {
            width: 100%;
            border-bottom: 2px solid #F2F2F2;
            padding-bottom: 20px;
        }

        .header__lien:hover {
            border-top: navajowhite;
            border-bottom: 2px solid;
            padding-bottom: 20px;
        }

/*MAIN*/
main {
    padding: 0 20px;
}

    /*TOP*/
    .top {
        margin-left: 0;
    }

    /*TITRES*/

    /*SEARCH BAR*/
    .button__rechercher {
        display: none;
    }

    .button__loupe::before {
        display: flex;
    }

    /*FILTRES*/

    /*INFOBAR*/
