/* General*/
    /*Fonts*/
@font-face {
    font-family: 'RalewayRegular';
    src: url(./../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'RalewayBold';
    src: url(./../fonts/Raleway-Bold.ttf);
}

* {
    font-family: 'RalewayRegular', Arial, Helvetica, sans-serif;
}

    /*Logo*/
.headerLogo {
    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 55px;
    top: 44px;
}

    /*Navigation*/
.headerNav {
    position: absolute;
    width: 381px;
    height: 19px;
    left: 982px;
    top: 48px;
}

.headerNav a {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    top: 0%;
    bottom: 0%;
    color: black;
    text-decoration: none;
}

    /*BORDER !*/
.headerNav a:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

.navAccommodation {
    left: 36.22%;
    right: 34.12%;
}

.navActivities {
    left: 83.46%;
    right: 0%;
}

    /*Titles*/
.titlesh1 {
    font-family: 'RalewayBold', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 575px;
    height: 26px;
    left: 55px;
    top: 126px;
    font-size: 21px;
    line-height: 26px;
}

.titlesp {
    position: absolute;
    width: 296px;
    height: 19px;
    left: 55px;
    top: 160px;
    font-size: 16px;
    line-height: 19px;
}

    /*Search Bar*/
.searchBarForm {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 332px;
    height: 49px;
    left: 55px;
    top: 199px;
    margin-top: 20px;
}

.searchBarIcone {
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.icone {
    position: absolute;
    left: 5.42%;
    right: 90.36%;
    top: 32.65%;
    bottom: 30.61%;
}

.input {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
}

.buttonSearch {
    background: #0065FC;
    padding: 15px;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-family: 'RalewayBold', Arial, Helvetica, sans-serif;
}

    /*Filters*/
.mainFilters {
    display: flex;
    position: absolute;
    left: 62px;
    top: 280px;
}

.filtersTitle {
    font-size: 18px;
}

.filtersButton {
    align-self: center;
}

.filtersButton button{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background: #FFFFFF;
    height: 48px;
    top: 280px;
    font-family: 'RalewayBold', Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.filtersButton button:hover {
    background: #DEEBFF;
}

.filtersIcone {
    color: blue;
    width: 22px;
    left: 20px;
    top: 14px;
    bottom: 14px;

}

.buttonMoney {
    width: 175px;
}

.buttonFamily {
    width: 136px;
}

.buttonHeart {
    width: 172px;
}

.buttonAnimals {
    width: 226px;
}

    /*InfoBar*/
.infoBar {
    position: absolute;
    width: 447px;
    height: 24px;
    left: 59px;
    top: 365px;
    display: flex;
    align-items: center;
}

.infoBarp {
    position: absolute;
    left: 35px;
}

    /*Accommodation*/
        /*Section*/
.accommodations {
    position: absolute;
    width: 880px;
    height: 626px;
    left: 50px;
    top: 426px;
    background: #F2F2F2;
    border-radius: 20px;
}
        /*Title*/
.accommodationsTitle {
    position: absolute;
    left: 4.55%;
    bottom: 89.14%;
    font-family: 'Raleway';
    font-size: 22px;
    margin: 0;
}

        /*Cards*/
.card {
    background: #FFFFFF;
    border-radius: 20px
}

.cardCanebiere {
    position: absolute;
    left: 4.55%;
    right: 67.5%;
    top: 14.54%;
    bottom: 53.67%;
}

.cardPort {
    position: absolute;
    left: 36.02%;
    right: 36.02%;
    top: 14.54%;
    bottom: 53.67%;
}

.cardMouettes {
    position: absolute;
    left: 67.5%;
    right: 4.55%;
    top: 14.54%;
    bottom: 53.67%;
}

.cardMer {
    position: absolute;
    left: 4.55%;
    right: 67.5%;
    top: 51.12%;
    bottom: 17.09%;
}

.cardPanier {
    position: absolute;
    left: 36.02%;
    right: 36.02%;
    top: 51.12%;
    bottom: 17.09%;
}

.cardAmina {
    position: absolute;
    left: 67.5%;
    right: 4.55%;
    top: 51.12%;
    bottom: 17.09%;
}

.cardInfo h3 {
    position: absolute;
    width: 204px;
    height: 15px;
    left: 16px;
    top: calc(50% - 15px/2 + 36px);
    color: #000000;
    margin: 0;
    font-size: 16px;
}

.cardInfo p {
    position: absolute;
    width: 204px;
    height: 15px;
    left: 16px;
    top: calc(50% - 15px/2 + 60px);
    color: #000000;
    margin: 0;
}

.cardStar {
    position: absolute;
    left: 6.5%;
    top: 88.44%;
    bottom: 5.53%;
}

.starBlue {
    color: #0065FC;;
}

.starGrey {
    color: #F2F2F2;;
}

        /*Images*/
.cardImg {
    height: 124px;
    width: 236px;
    left: 0px;
    top: 0px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

        /*Show More*/
.cardShowMore {
    position: absolute;
    left: 5%;
    right: 82.84%;
    top: 89.3%;
    bottom: 7.35%;
    font-size: 18px;
    font-family: 'RalewayBold', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;
}