/*GENERAL*/
body {
    margin: 0;
}
/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

    /*Epaisseur*/
* {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

    /*Taille*/
.taille1 {
    font-size: 18px;
}

.taille2 {
    font-size: 16px;
}

.taille3 {
    font-size: 14px;
}

.taille4 {
    font-size: 12px;
}

/*LIENS*/
a {
    text-decoration: none;
    color: #000000;
}

    /*Images*/
img {
    object-fit: cover;
}



/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
}

    /*Logo*/
.headerLogo {
    width: 61px;
    height: 19px;
    margin: 44px 0 0 55px;
}

    /*Nav*/

        /*Liste*/
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 300px;
}

        /*Liens*/
.headerLien {
    text-decoration: none;
    color: #000000;
    display: flex;
    height: 60px;
    width: 130px;
    align-items: flex-end;
    justify-content: center;
}

.headerLien:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
    height: 58px;
}

/*MAIN*/

/*TOP*/
.top {
    margin-left: 55px;
}

    /*Titres*/
.mainTitres {
    margin: 55px 0 30px 0px;
}

.mainTitres h1 {
    margin: 0 0 10px 0;
}

    /*Formulaire de recherche*/

        /*Icone*/
.searchBarIcone {
    padding: 14px 18px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

        /*Input*/
.searchBarInput::placeholder {
    color: #000000;
}

.searchBarInput {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding: 12px;
}

        /*Button*/
.searchBarButton {
    background: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
}

.loupe {
    display: none;
}

    /*Filtres*/
.mainFiltres {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

        /*Titre*/
.filtreTitre {
    padding-right: 15px;
}

        /*Boutons*/
.buttonFiltre {
    margin: 0 15px;
    padding: 10px 25px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background: #FFFFFF;
    font-size: 17px;
    align-items: center;
}

.buttonFiltre:hover {
    background:#DEEBFF;
}

.twoButtons {
    display: flex;
}

        /*Icones*/
.filtreIcone {
    color: #0065FC;
    padding-right: 12px;
}

    /*Bar d'information*/
.infoBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

        /*Icone*/
.infoBarIcone {
    display: flex !important;
    align-items: center;
    justify-content: center;

    width: 10px;
    height: 10px;
    padding: 5px;
    font-size: 11px;

    border: 1px solid #D9D9D9;
    border-radius: 15px;
    color: #0065FC;
}

        /*Texte*/
.infoBarTexte {
    margin-left: 15px;
}

/*HEBERGEMENT + POPULAIRES + ACTIVITES*/
    /*GENERAL ET ELEMENTS COMMUNS*/
    .hebergementsPopulaires {
        display: flex;
    }

    .hebergements, .populaires {
        border-radius: 20px;
    }

    /*LIENS*/
    .lien {
        display: flex;
        background-color: #FFFFFF;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        border: 5px solid #FFFFFF;
        border-radius: 20px;
    }

    /*ETOILES*/
    .etoile {
        color: #0065FC;
        font-size: 14px;
    }

    .etoile:last-child {
        color: #D9D9D9;
    }

    /*TITRE DES SECTIONS*/
    .hebergements__titre, .populaires__titre h2, .activites__titre {
        font-size: 22px;
        font-weight: bold;
        margin: 45px 0 0 45px;
    }

    /*TITRE ET TEXTE DES ARTICLES*/
        .hebergements__lien__info, .populaires__lien__info {
            padding-left: 10px;
        }

        /*Titre*/
        .hebergements__info__titre, .populaires__info__titre, .activites__lien__titre {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 0;
        }

        /*Texte*/
        .hebergements__info__p, .populaires__info__p {
            font-size: 14px;
            margin: 5px 0;
        }

    /*HEBERGEMENTS*/
        /*Général*/
        .hebergements {
            width: 80%;
            margin: 0 50px;
            background-color: #F2F2F2;
        }

        /*Artices*/
            /*Div regroupant les article 3 par 3*/
            .flex {
                display: flex;
                justify-content: space-around;
                margin: 0px 25px;
            }

            /*Article*/
            .hebergements__articles article {
                margin: 25px 0;
                width: 28%;
            }

            /*Lien*/
            .hebergements__lien {
                flex-direction: column;
                min-width: 100%;
                height: 200px;
            }

            /*Images*/
            .hebergements__lien__image {
                min-width: 100%;
                height: 100px;   
                border-radius: 20px 20px 0 0;         
            }

            /*Info*/
            .hebergements__lien__info {
                position: relative;
                top: -5px;
            }

                /*Titre*/
                .hebergements__info__titre {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                /*Texte*/
                .hebergements__info__p {
                    font-size: 14px;
                    margin: 5px 0;
                }

                .hebergements__info__p span {
                    font-weight: bold;
                }

        /*Afficher Plus*/
        .hebergements__afficherPlus {
            margin: 10px 0 40px 45px;
        }

        .hebergements__afficherPlus a {
            font-size: 18px;
            font-weight: bold;
        }

    /*POPULAIRES*/
        /*Général*/
        .populaires {
            width: 40%;
            background-color: #F2F2F2;
            margin-right: 50px;
        }

        /*Titre et Icone*/
        .populaires__titre {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        .populaires__titre span i {
            margin-right: 25px;
            color: #0065FC;
        }

        /*Articles*/
            /*Lien*/
            .populaires__lien {
                margin: 25px 30px;
            }

            /*Images*/
            .populaires__lien__image {
                width: 40%;
                height: 130px;
                border-radius: 20px 0 0 20px;
            }


            

    /*ACTIVITES*/
        /*Titre*/
        .activites__titre {
            margin-bottom: 25px;
        }

        /*Article*/
            /*Div qui englobe les articles*/
            .activites__articles {
                display: flex;
                justify-content: space-around;
            }

            /*Lien*/
            .article__lien {
                display: flex;
                flex-direction: column-reverse;
                width: 200px;
                border: none;
            }

                /*Titre*/
                .article__lien__titre {
                    padding: 0 0 20px 10px;
                }

                /*Image*/
                .activites__lien__image {
                    width: 100%;
                    height: 300px;
                    border-radius: 20px 20px 0 0;
                }





 

/*FOOTER*/

    /*Général*/
footer {
    display: flex;
    justify-content: space-around;
    margin: 30px 50px 0 50px;
    background:#F2F2F2;
}

    /*Liste*/
.liste {
    list-style-type: none;
    padding: 0;
}

.puce {
    line-height: 25px;
}