/*GENERAL*/
body {
    margin: 0;
    max-width: 1400px;
}
    /*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

        /*Epaisseur*/
* {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

        /*Taille*/
.taille1 {
    font-size: 22px;
}

.taille2 {
    font-size: 18px;
}

.taille3 {
    font-size: 16px;
}

.taille4 {
    font-size: 14px;
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
}

    /*Logo*/
.headerLogo {
    width: 61px;
    height: 19px;
    margin: 44px 0 0 55px;
}

    /*Nav*/

        /*Liste*/
nav ul {
    list-style: none;

    display: flex;
    justify-content: space-around;

    padding: 0;
    margin: 0;

    width: 381px;
}

.navTop {
    padding-top: 44px;
}

.navTop:hover {
    border-top: 2px solid #0065FC;
    padding-top: 42px;
}

        /*Liens*/
.headerLien {
    text-decoration: none;
    color: #000000;
}

.headerLien:hover {
    color:#0065FC;
}

/*MAIN*/

/*TOP*/
.top {
    margin-left: 55px;
}

    /*Titres*/
.mainTitres {
    margin: 55px 0 30px 0px;
}

.mainTitres h1 {
    margin: 0 0 10px 0;
}

    /*Formulaire de recherche*/

        /*Icone*/
.searchBarIcone {
    padding: 14px 18px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

        /*Input*/
.searchBarInput::placeholder {
    color: #000000;
}

.searchBarInput {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding: 12px;
}

        /*Button*/
.searchBarButton {
    background: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
}

    /*Filtres*/
.mainFiltres {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

        /*Titre*/
.filtreTitre {
    padding-right: 15px;
}

        /*Boutons*/
.buttonFiltre {
    margin: 0 15px;
    padding: 10px 25px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background: #FFFFFF;
    font-size: 17px;
}

.buttonFiltre:hover {
    background:#DEEBFF;
}

        /*Icones*/
.filtreIcone {
    color: #0065FC;
    padding-right: 12px;
}

    /*Bar d'information*/
.infoBar {
    display: flex;
    align-items: center;
}

        /*Icone*/
.infoBarIcone {
    display: flex !important;
    align-items: center;
    justify-content: center;

    width: 10px;
    height: 10px;
    padding: 5px;
    font-size: 11px;

    border: 1px solid #D9D9D9;
    border-radius: 15px;
    color: #0065FC;
}

.infoBarTexte {
    margin-left: 15px;
}

        /*Texte*/