/*TOP*/
    /*FILTRES*/
    .filtre__buttons {
        justify-content: space-evenly;
    }

    .button__filtre {
        margin: 0;
    }

/*MAIN -> Hébergements + Populaires + Activités*/
    /*HEBERGEMENTS + POPULAIRES*/
        /*GENERAL*/
        .hebergementsPopulaires {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .hebergements, .populaires {
            width: 100%;
        }

        /*HEBERGEMENTS*/
        #hebergements {
            margin-bottom: 50px;
        }

        /*POPULAIRES*/
        .populaires__articles {
            display: flex;
            justify-content: space-evenly;
            margin: 35px 0 45px 0;
        }

        .populaires__articles article {
            width: 27%;
        }

        .populaires__lien {
            margin: 0;
        }